.dub
docs.json
__dummy.html
docs/
/native_bird
native_bird.so
native_bird.dylib
native_bird.dll
libnative_bird.a
native_bird.a
native_bird.lib
native_bird-test-*
native_bird.exe
*.exe
*.pdb
*.o
*.obj
*.lst
libraylib.so.600
game.zip
Proj.zip
